$myblue: #112C55;
$mywhite: #FFFFF0;
$myblack: #010812;

$min-phone-width: 320px;
$max-phone-width: 640px;

@mixin phone {
  @media (max-width: #{$max-phone-width - 1px}) {
    @content;
  }
}

/*<--Global*/

.container-body {
	background-color: $myblack;
	background-image: url('../image/background_bloodborne.jpg'); 
	background-repeat: no-repeat;
	min-width: 320px;
	min-height: 600px;
	overflow: hidden;
}

.container-main {
	height: 100%;
	padding: 50px 10% 200px 10%;
	@include phone {
		padding: 25px 10% 50px 10%;
	}	
	width: 100%;
}

.container-content {
	color: $mywhite;
	font-size: 16pt;
	@include phone {
		font-size: 14px;
	}
	min-height: 600px;

	.signature {
		display: inline;
		font-family: "Comic Sans", "Comic Sans MS", cursive;
		font-size: 60px;

		@include phone {
			font-size: 40px;
		}

		font-weight: bold;
	}

	.btn {
		color: $myblue;
	}
}

/*Global-->*/

/*<--Menu*/

.title {
	color: $myblue;
	font-family: cursive;
	font-size: 35px;
}
#mynavbar {
	background-color: $mywhite;
	border-radius: 0 !important;
	margin-bottom: 0 !important;
	.nav {
		span{
			font-size: 14pt;
			color: $myblue;
		}
	}
}

/*Menu-->*/

/*<--Quotes Section*/

.quotes {
	background-color: rgba(192, 192, 192, 0.2);
	overflow: auto;
	margin-top: 50px;
	padding: 10px 20px 10px 20px;

	div {
		color: #FFFFF0;
		font-family: 'Comic Sans MS';
		font-style: italic;
	}
}

/*Quotes Section-->*/

/*<--Home Page*/
.about-me {
	margin-top: 50px;
	min-width: 450px;
	width: 450px !important;
}

.my-picture {
	background: url(../image/my_picture.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	@include phone {
		width: 35px;
		height: 35px;
		border-radius: 50px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
	}
}

.interests {
	font-family: "Comic Sans MS";
	font-weight: bold;
	margin-top: 50px;
}

/*Home Page-->*/

/*<--Resume Page*/
.control-resume {
	padding-top: 100px;
}

.dropdown-menu li:hover {
 cursor:pointer;
}

/*Food Page-->*/

#food-canvas {
	width: 700px;
	@include phone {
		width: 300px;
	}
}

/*Resume Page-->*/

.tabs-code {
	background-color: $mywhite;
	border-radius: 4px;
	.tab-content {
		padding: 15px;
	}
}