/*<--Global*/
html, body {
  height: 100%; }

.container-body {
  background-color: #010812;
  background-image: url("../image/background_bloodborne.jpg");
  background-repeat: no-repeat;
  height: 100%;
  min-width: 320px;
  min-height: 600px;
  overflow: hidden; }

.container-main {
  height: 100%;
  padding: 50px 50px 200px 50px;
  width: 100%; }
  @media (max-width: 639px) {
    .container-main {
      padding: 25px 10% 50px 10%; } }

.container-content {
  color: #FFFFF0;
  font-size: 16pt;
  min-height: 600px; }
  @media (max-width: 639px) {
    .container-content {
      font-size: 14px; } }
  .container-content .btn {
    color: #112C55; }

/*Global-->*/
/*<--Menu*/
.title {
  color: #112C55;
  font-family: cursive;
  font-size: 35px; }

#mynavbar {
  background-color: #f1f3f6;
  /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9fb), to(#e9ecf1));
  background-image: -webkit-linear-gradient(top, #f9f9fb, #e9ecf1);
  background-image: -moz-linear-gradient(top, #f9f9fb, #e9ecf1);
  background-image: -ms-linear-gradient(top, #f9f9fb, #e9ecf1);
  background-image: -o-linear-gradient(top, #f9f9fb, #e9ecf1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9fb', EndColorStr='#e9ecf1')";
  border-radius: 0 !important;
  margin-bottom: 0 !important; }
  #mynavbar .nav span {
    font-size: 14pt;
    color: #112C55; }
  #mynavbar .nav li:hover {
    background-color: #e9ecf1; }

/*Menu-->*/
/*<--Quotes Section*/
.quotes {
  background-color: rgba(192, 192, 192, 0.2);
  overflow: auto;
  margin-top: 50px;
  padding: 10px 20px 10px 20px; }
  .quotes div {
    color: #FFFFF0;
    font-family: 'Comic Sans MS';
    font-style: italic; }

/*Quotes Section-->*/
/*<--Home Page*/
.about-me {
  margin-top: 50px;
  min-width: 450px; }
  @media (max-width: 639px) {
    .about-me {
      min-width: 280px; } }
  .about-me .signature {
    display: inline;
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    font-size: 50px;
    font-weight: bold; }
    @media (max-width: 639px) {
      .about-me .signature {
        font-size: 35px; } }
  .about-me .my-picture {
    background: url(../image/my_picture.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px; }
    @media (max-width: 639px) {
      .about-me .my-picture {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px; } }

.interests {
  font-family: "Comic Sans MS";
  font-weight: bold;
  margin-top: 50px; }

/*Home Page-->*/
/*<--Resume Page*/
.control-resume {
  padding-top: 100px; }

.dropdown-menu li:hover {
  cursor: pointer; }

/*Resume Page-->*/
/*<--Food Page*/
#canvas-food {
  width: 700px;
  height: 700px; }
  @media (max-width: 639px) {
    #canvas-food {
      width: 300px;
      height: 300px; } }

/*Food Page-->*/
/*<--Play Ground Page*/
.tabs-code {
  background-color: #FFFFF0;
  border-radius: 4px; }
  .tabs-code .tab-content {
    padding: 15px; }

/*Play Ground Page-->*/
/*<--Stocks Page*/
.container-carousel {
  margin-left: -50px;
  margin-right: -50px;
  position: static; }
  .container-carousel .container-slide {
    margin-left: 10%;
    margin-right: 10%; }
  .container-carousel .carousel-inner {
    height: 600px; }
    .container-carousel .carousel-inner table.stock-detail th {
      text-align: center; }
    .container-carousel .carousel-inner table.stock-detail tbody {
      margin-left: 20%;
      margin-right: 20%; }
      .container-carousel .carousel-inner table.stock-detail tbody td {
        border-top: none !important; }

/*Stocks Page-->*/

/*# sourceMappingURL=main.css.map */
