<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="../css/main.css">
			<link rel="stylesheet" href="../css/bootstrap.min.css">
			<script src="../js/jquery-2.1.3.min.js"></script>
			<script src="../js/bootstrap.min.js"></script>
			<script src="../js/angular.min.js"></script>
			<script src="../js/moment.js"></script>
			<script src="../js/quotes.js"></script>
			<script type="text/javascript">
				var stockApp = angular.module('StockApp', []);


				stockApp.controller('StockController', function($scope, $http) {
					var tickers = ['MOBI','DDD','BAC','LINN'];
					$scope.mystock = 'Hi';

					//getData(tickers);
					function getData(ticker) {
						if (ticker.length > 0) {
							var queryString = ticker.join(',');
						
						 	var stockRequest =  $http.jsonp("https://query.yahooapis.com/v1/public/yql", 
						 		{
						 			params: {
						 				q: "select * from yahoo.finance.quotes where symbol in ('" + queryString + "') ",
						 				format: "json",
						 				env: "http://datatables.org/alltables.env",
						 				callback: "JSON_CALLBACK"
						 			}
						 		});
						 	stockRequest.success(function(data) {
						 		$scope.mystock = data.query.results;
						 	});
					 	} else {
					 		$scope.error = 'Invalid param for getData function';
					 	}
					}
				});
			</script>
		</head>
		<body>
			<div class="container-body">
				<nav class="navbar navbar-default" id="mynavbar" role="navigation">
					<div class="container-fluid">
						<a href="../index.html"><div class="pull-left title">SPITZ</div></a>
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse collapse" id="navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class=""><a href="../index.html"><span>Home</span></a></li>
								<li class=""><a href="../food"><span>Food</span></a></li>
								<li class=""><a href="../cv"><span>Resume</span></a></li>
								<li class=""><a href="../playground"><span>Playground</span></a></li>
							</ul>
						</div>
					</div>
				</nav>
				<div class="container-main">
					<div class="container-content">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#linkedlist" data-toggle="tab">Linked List</a></li>
							<li><a href="#something" data-toggle="tab">TBD</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active row" id="linkedlist">
								<div class="col-lg-7">
									<pre class="prettyprint">
var Node = (function () {
	function Node(data, next) {
		this.data = data;
		this.next = next;
	}
	return Node;
})();

var LinkedList = (function () {

	function LinkedList() {
		this.head = null;
		this.length = 0;
	}

	LinkedList.prototype.append = function(val) {
		var node = new Node(val, null);

		if (!this.head) {
			this.head = node;
		} else {
			current = this.head;
			while(current.next) {
				current = current.next;
			}
			current.next = node;
		}
		this.length++;
	};

	LinkedList.prototype.remove = function(val) {
		if (this.head) {
			if (this.head.data === val) {
				this.head = this.head.next;
				this.length--;
			} else {
				current = this.head;
				while(current && current.next) {
					if (current.next.data === val) {
						current.next = current.next.next;
						this.length--;
					}
					current = current.next;
				}
			}
		}
	};

	LinkedList.prototype.getLength = function() {
		return this.length;
	};

	LinkedList.prototype.toString = function() {
		var result = '';

		if (this.head) {
			// thank you loosely typed language
			var current = this.head;
			result += current.data;
			while(current.next) {
				current = current.next;
				result += ' -> ' + current.data;
			}
		}
		return result;
	};

	return LinkedList;
})();
									</pre>
								</div>
								<div class="col-lg-5">
									<pre class="code-result"></pre>
								</div>
							</div>
							<div class="tab-pane" id="something">
							</div>
						</div>
					</div>
					<!--div ng-app="StockApp" ng-controller="StockController">{{mystock}}</div-->
					<div class="quotes col-md-6 col-md-offset-3">
						<div class="text"></div>
						<div class="source pull-right"></div>
					</div>
				</div>
			</div>
		</body>
	</html>