<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="../css/main.css">
			<link rel="stylesheet" href="../css/bootstrap.min.css">
			<script src="../js/jquery-2.1.3.min.js"></script>
			<script src="../js/bootstrap.min.js"></script>
			<script src="../js/angular.min.js"></script>
			<script src="../js/moment.js"></script>
			<!--script src="../js/handlebars-v3.0.0.js"></script-->
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
			<script src="../js/quotes.js"></script>
		</head>
		<body>
			<div class="container-body">
				<nav class="navbar navbar-default" id="mynavbar" role="navigation">
					<div class="container-fluid">
						<a href="../index.html"><div class="pull-left title">SPITZ</div></a>
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse collapse" id="navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class=""><a href="../index.html"><span>Home</span></a></li>
								<li class=""><a href="../food"><span>Food</span></a></li>
								<li class=""><a href="../cv"><span>Resume</span></a></li>
								<li class=""><a href="../playground"><span>Playground</span></a></li>
							</ul>
						</div>
					</div>
				</nav>
				<div class="container-main">
					{{content}}
					<div class="quotes col-md-6 col-md-offset-2">
						<div class="text"></div>
						<div class="source pull-right"></div>
					</div>
				</div>
			</div>
		</body>
	</html>